@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  /*border: 1px solid pink;*/
}


body {
  margin: 0;
  padding: 0;
  font-family: Futura, sans-serif;
}

.logo {
  display: inline-block;
  vertical-align: top;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.seat {
  background-color: cornflowerblue;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
}

.taken {
  background-color: #e03844;
}

.res-button {
  margin: 15px 0 0 0;
  padding: 15px;
  font-family: Futura, sans-serif;
  text-transform: uppercase;
}

.row-num {
  display: inline-block;
  width: 15px;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
}

.res-status {
  padding: 15px 0;
  color: cornflowerblue;
}

.selected {
  background-color: cornsilk;
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  z-index: 10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px cornflowerblue solid;
}

label.search {
  width: 100px;
}

button.book {
  margin-left: 20px;
}

form {
  padding: 20px;
  background-color: #e03844;
}

input[type="search"] {
  padding: 8px;
  width: 400px;
}

.monospace {
  font-family: "Source Sans Pro", monospace;
  text-transform: uppercase;

}

.header {
  height: 100px;
}

img {
  width: 200px;
  float: right;
}
